@font-face {
  font-family: SCDream4;
  src: url("./SCDream4.otf");
}
* {
  font-family: SCDream4;
}

/* cursor: pointer;
} */
/* .img-responsive {
  display: block;
  width: 87px;
  height: 80px;
  background: url(../image/unused/RETOREE.png) no-repeat 0 0;
  background-size: 100%;
  font-size: 0;
  text-indent: -20000px;
} */
a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
a {
  color: inherit;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
