* {
  font-family: "Georgia, " 맑은 고딕 ", serif;";
  color: rgb(24, 63, 195);
}

.logofont {
  font-family: "Georgia, " 맑은 고딕 ", serif";
}

.menu {
  background-color: rgb(245, 244, 241);
}

.footer {
  background-color: rgb(245, 244, 241);
  font-size: 0.8rem;
}

.fontcolor > a {
  color: rgb(51, 79, 171);
}

@font-face {
  font-family: "Georgia, " 맑은 고딕 ", serif";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
select {
  margin-bottom: 10px;
  margin-top: 10px;
  background: #fafafa;
  color: rgb(72, 72, 210);
  border: 1px solid rgb(148, 161, 232);
  padding: 4px;
  border-radius: 9px;
}
.button {
  color: rgb(72, 72, 210);
  background: #fafafa;
  border: 1px solid rgb(177, 177, 227);
  border-radius: 9px;
  padding: 4px;
}
/* .search {
  text-align: center;
} */
