* {
  padding: 0;
  margin: 0;
}

.menu {
  color: rgb(14, 13, 13);
  width: 300px;
  overflow: hidden;
  margin: 150px auto;
}

.menu > li {
  width: 100%;
  text-align: center;
  line-height: 50px;
  background-color: #f4f4f9;
}

.menu > li:hover .submenu {
  background-color: #f4f5f7;
  height: 250px;
  transition-duration: 1s;
}

.submenu {
  height: 0;
  overflow: hidden;
}

.submenu > li {
  line-height: 25px;
  background-color: #eff1f5;
}

.boxscroll {
  width: 300px;
  height: 200px;
  overflow-y: scroll;
}

.seachfont {
  font-size: 1.7rem;
}

.seachsecond {
  font-size: 1.2rem;
  background-color: rgb(241, 242, 216);
}

.seachthird {
  font-size: 0.8;
  background-color: rgb(228, 215, 199);
}

.choicebutton {
  font-size: 1rem;
  background-color: rgb(215, 211, 206);
}

.state {
  line-height: 17px;
}
