* {
  font-family: "Georgia, " 맑은 고딕 ", serif;";
  color: rgb(15, 54, 182);
}

.logofont {
  font-family: "Georgia, " 맑은 고딕 ", serif";
}

.menu {
  background-color: rgb(245, 244, 241);
}

.footer {
  background-color: rgb(245, 244, 241);
  font-size: 0.8rem;
}

.fontcolor > a {
  color: rgb(15, 54, 182);
}

@font-face {
  font-family: "Georgia, " 맑은 고딕 ", serif";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
